# Data Science Tools and Ecosystem
## Author
James Sherrell

This notebook summarizes data science tools and ecosystem.

**Objectives**:
* List popular languages for Data Science
* List common libraries for Data Science
* List some Data Science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java-ML

Some of the common libraries used by Data Scientists include:

1. NLTK
2. PyTorch
3. Pandas

| Data Science Tools|
| - |
| JupyterLab |
| RStudio |
| WatsonX |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335